<div class="container">
    <h1>file upload</h1>
    {{#if error}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong></strong> {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{else}}
    {{/if}}

    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success</strong> {{success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{else}}
    {{/if}}

   
    <hr>

    <h2>My File Upload Progress Bar</h2>
    <form id="my_upload_form" enctype="multipart/form-data" method="post">
        <input type="file" name="myfile1" id="myfile1" onchange="myuploadfiles()" accept="image/*"><br>
        <progress id="myprogressBar" value="0" max="100" style="width:300px;"></progress>
        <h3 id="mystatus"></h3>
        <p id="myloaded_n_total"></p>
    </form>

    <div id="show-image">

    </div>

<button class="btn btn-danger">Bugfix</button>
    {{!-- <img src=" <%= typeof file !='undefined' ? file:'' %>" alt="" class="responsive-img"> --}}

    {{#if compress}}
    <form action="/compress/upload/{{compress.name}}/{{compress.ext}}" method="post" enctype="multipart/form-data">
        <img src="{{compress.url}}" class="rounded mx-auto d-block responsive-img " alt="{{compress.name}}">
        <button class="btn btn-danger">Compress</button>
    </form>
    {{else}}
    {{/if}}
</div>